* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body,#root{
  min-height: 100%;
}

body{
  background: #ffe364 url('./assets/background.png') no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

.dontDisplay{
  display: none;
}

.btn{
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 16px;
  margin-bottom: 16.1px;
  font-size: 16px;
  font-weight: bold;
  background: green;
  color: #fff;
  cursor: pointer;
}

.btnCliked{
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: bold;
  background: #606060;
}
.btnCliked img{
  width: 17%;
  margin-top: -1vh;
  
}

.btn:hover{
  opacity: 0.9;
}

/*Login*/
div.container-Input{
  margin: 80px auto 0;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #606060;
  font-size: 20px;
  background: #fff4c4;
  margin: auto;
  width: 100%;
  background: #fff;
  margin-top: 50px;
  border-radius: 4px;
  padding: 30px;
  padding-bottom: 0;
}

.container-Input form input{
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}

/*Table Config*/
.join-Table{
  border: #ffe364 solid 2px;
  width: 100%;
  height: 150px;
}

.newTable{
  overflow-y: scroll;
}
.newTableBtn{
  background: chartreuse;
  margin-bottom: 5px;
  border: green solid 1px;
}

.tableJoin svg{
  float: right;
  margin-top: 10px;
  color: red;
}

.tableJoin svg:hover{
  background-color: #cccccc;
}


/*Table*/
div.container-Mesa{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #606060;
  font-size: 16px;
  background: #fff4c4;
  margin-top: auto;
  border-radius: 4px;
  border: sienna solid 1px;
}

@media screen and (max-width: 600px){

  .newTableBtn{
    width: 91.5%;
  }

  .tableJoin svg{
    margin-right: 0.5vw;
  }

  .container-connection{
    z-index: 9;
    right: 0;
    height: 70vh;
    border: sienna solid 1px;
}

.mobile-display{
  opacity: 0;
}

  div#Roll{
    margin-top: 1vh;
    width: 94vw;
    height: 85vh;
  }
  div.container-Mesa{
    position: absolute;
    left: 1vw;
    top: 1vh;
    width: 98vw;
    height: 90vh;
  }

  .container-Mesa form input,
  .container-Mesa form select{
    width: 13vh;
    height: 4vh;
    font-size: 20px;
    position: relative;
  }

  #Roll p{
    margin-left: 3vw;
    margin-top: 2vh;
    font-size: 40px;
    margin-bottom: 10px;
    border-bottom: rgb(248, 171, 141) solid 1px;
  }

  #toggle-menu div{
    width: 10vw;
    height: 4px;
    background-color: rgb(255, 81, 0);
    margin-bottom: 4px;
  }

  #toggle-menu{
    position: absolute;
    z-index: 10;
    right: 4vw;
    top: 3vh;
    opacity: 0.8;
  }

  .clicked .midBar{
    opacity: 0;
  }
  .clicked .first{
    transform: rotateZ(45deg);
    margin-top: 10px;
    
  }
  .clicked .last{
    transform: rotateZ(-45deg);
    margin-top: -15.5px;
    
  }
}

@media screen and (max-width: 1007px) and (min-width: 601px){
  .newTableBtn{
    width: 94%;
  }

  .container-connection{
    left: 0px;
    width: 20%;
    height: 30vh;
}
  div#Roll{
    width: 65vw;
    height: 75vh;
    margin-top: 2vh;
    padding-top: 1vh;
  }
  div.container-Mesa{
    position: absolute;
    right: 5vw;
    top: 1vh;
    width: 70vw;
    height: 80vh;
  }

  .container-Mesa form input,
  .container-Mesa form select{
    width: 30%;
    height: 4vh;
    font-size: 20px;
    position: relative;
  }

  #Roll p{
    font-size: 40px;
    margin-bottom: 10px;
    border-bottom: rgb(248, 171, 141) solid 1px;
    padding-left: 1vw;
  }
}

@media (min-width: 1008px){
  .newTableBtn{
    width: 94%;
  }

  .container-connection{
    width: 20%;
    height: 30vh;
  }

  div#Roll{
    min-height: 600px;
    width: 100%;
    max-height: 50vh;
    padding-top: 1vh;
  }

  div.container-Mesa{
    margin: 1vh auto 0;
    max-width: 550px;
    width: 100%;
    padding: 30px;
    max-height: 100vh;
  }

  .container-Mesa form input,
  .container-Mesa form select{
    width: 33%;
    height: 4vh;
    font-size: 20px;
    position: relative;
  }

  #Roll p{
    font-size: 40px;
    margin-bottom: 10px;
    border-bottom: rgb(248, 171, 141) solid 1px;
    padding-left: 1vw;
  }
}

.container-connection{
  margin: 2vh;
  background: white;
  position: absolute;
}

.container-connection p{
  padding: 1vh;
  background-color: rgb(245, 203, 66);
  font-size: 18px;
  border: sandybrown solid 1px;
  font-weight: bolder;
}
.container-connection input{
  font-size: 18px;
  width: 90%;
}

div#Roll{
  background: #fff;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
}

#Roll:last-child {
  scroll-snap-align: end;
}

#Roll h4{
  font-size: 25px;
  margin-bottom: 15px;
}